.themed-background.btn--primary {
  background: #ac1b1e;
  background-color: #ac1b1e;
  display: block;
  border-radius: 0;
}

.widget-extra.themed-background {
  background: #ac1b1e;
  background-color: #ac1b1e;
  display: block;
  display: block;
  border-radius: 0;
}

.widget-extra-full i.fa.fa-plus {
  color: #204560;
}

.btn-group a {
  margin: 0px 5px !important;
  display: inline-block;
}

.btn-danger,
.delete-contact-btn,
.delete-page-btn {
  background: #3063cc;
  color: #fff !important;
  margin: 0;
  display: inline-block;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.btn-danger:hover,
.delete-contact-btn:hover,
.delete-page-btn:hover {
  background: #204560;
  border: 1px solid transparent;
}

.btn.btn-default {
  margin: 0;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  color: #373e46;
  border: 1px solid #9b9b9b;
  transition: all 0.5s ease;
}
.btn.btn-default i {
  color: #373e46;
}

.btn__status {
  padding: 2px;
  width: 100%;
  text-transform: capitalize;
  color: #fff !important;
  font-size: 1em;
  font-weight: 600 !important;
}
.btn__status--pending {
  background: #cca965 !important;
}
.btn__status--confirmed {
  background: #f2623d !important;
}
.btn__status--pendingcontract {
  background: #7541e3 !important;
}
.btn__status--pendingpayment {
  background: #3df198;
}
.btn__status--paidinfull {
  background: #373e46;
}
.btn__status--hostconfirmation {
  background: #f2623d !important;
}
.btn__status--prearrival {
  background: #cca965 !important;
}
.btn__status--infosent {
  background: #cca965 !important;
}
.btn__status--pendingdamage {
  background: #7541e3 !important;
}
.btn__status--pendingrefund {
  background: #7541e3 !important;
}
.btn__status--damagesolution {
  background: #9b9b9b;
}
.btn__status--damageresolved {
  background: #9b9b9b;
}
.btn__status--pendinginvoicepayment {
  background: #7541e3 !important;
}
.btn__status--bookclosed {
  background: #373e46;
}
.btn__status--partialpaymentreceived {
  background: #f2623d !important;
}
.btn__status--cancelrequest {
  background: #7541e3 !important;
}
.btn.btn-warning {
  background-color: #373e46;
  border-color: #373e46;
}
.btn.btn-primary {
  background-color: #204560;
  border-color: #204560;
}
.btn--download {
  background: #3063cc;
  display: block !important;
  width: 100%;
  border-radius: 3px !important;
  color: #fff !important;
}
.btn--primary {
  background: #3063cc;
  display: block !important;
  width: 100%;
  border-radius: 3px !important;
  color: #fff !important;
}

.preloader.themed-background {
  background: #204560;
  background-color: #204560;
}

.themed-background--orange {
  background-color: #f2623d !important;
}
.themed-background--violet {
  background-color: #7541e3 !important;
}
.themed-background--green {
  background-color: #3df198;
}

ul.sidebar-section.sidebar-themes {
  display: none;
}

.widget-simple__middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.widget-simple__middle .widget-content {
  width: 50%;
  color: #3063cc;
}
.widget-simple__middle .widget-content small {
  color: #373e46;
}

.block-title {
  position: relative;
}
.block-title__big {
  background: #204560;
  background-color: #204560;
  padding: 11px 10px;
}
.block-title__big h2 {
  color: #fff !important;
}
.block-title__big strong {
  text-transform: capitalize;
}
.block-title__big a {
  color: #cca965 !important;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.block-title__big a:hover {
  opacity: 0.4;
}
.block-title__full {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.block-title .btn-group .btn-default {
  background: #3063cc;
  /* color: #fff !important; */
  display: flex;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}
.block-title .btn-group .btn-default i {
  color: #fff !important;
}
.block-title .float-bar {
  width: 150px;
  position: absolute;
  right: 15px;
  top: 10px;
  display: block !important;
}
.block-title .float-bar div {
  display: block;
  width: 100% !important;
}
.block-title .float-bar div a {
  display: block;
  width: 100% !important;
  margin: 0 !important;
}
.block-title .float-bar select {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
}
.block-title .float-bar--extended {
  width: 230px;
}

.admin__body table tr td a {
  color: #3063cc;
  text-decoration: none;
  font-weight: bold;
}

.block.full table tr td a {
  color: #3063cc;
  text-decoration: none;
  font-weight: bold;
}
.block__equal {
  min-height: 380px;
}
.block--padding {
  padding: 0 !important;
}
.block--padding > div {
  margin: 0;
}
.block--padding table {
  margin-bottom: 0;
}
.block--padding .alert-info {
  background: transparent;
  border: 0;
  color: #cca965;
  font-weight: bold;
}

.btn-group a {
  color: #204560;
}

td.text-center {
  text-align: center !important;
}

.pagination li.active a {
  background: #3063cc;
}
.pagination li a {
  transition: all 0.3s ease;
  color: #3063cc;
}
.pagination li a:hover {
  background: #3063cc;
  color: #fff !important;
}

table tbody tr td {
  padding: 5px 20px !important;
}
table tbody tr td .btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: inherit !important;
}
table.table__noborder tr,
table.table__noborder td,
table.table__noborder th {
  border: none !important;
}
table.table--five tbody tr td {
  vertical-align: middle !important;
}
table.table--five tbody tr td:first-child {
  width: 35px !important;
  padding: 0 !important;
  text-align: center;
}
table.table--five tbody tr td:nth-child(2) {
  width: 30%;
}
table.table--two tbody tr td {
  vertical-align: middle !important;
}
table.table--two tbody tr td:last-child {
  width: 150px;
  padding-right: 10px !important;
}

.properties table thead tr th:first-child {
  width: 10%;
}
.properties table thead tr th:nth-child(2) {
  width: 30%;
}
.properties table thead tr th:nth-child(3) {
  width: 10%;
}
.properties table thead tr th:nth-child(4) {
  width: 15%;
}
.properties table tbody tr td:first-child {
  width: 10%;
}
.properties table tbody tr td:nth-child(2) {
  width: 30%;
}
.properties table tbody tr td:nth-child(3) {
  width: 10%;
}
.properties table tbody tr td:nth-child(4) {
  width: 15%;
}

.table-responsive thead tr th,
#booking-table thead tr th,
#properties-table thead tr th {
  font-size: 1em;
  color: #000;
  text-align: left;
  font-weight: bold;
}
.table-responsive tbody tr td,
#booking-table tbody tr td,
#properties-table tbody tr td {
  text-align: left;
}
.table-responsive tbody tr td .btn-group,
#booking-table tbody tr td .btn-group,
#properties-table tbody tr td .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#booking-table thead tr th:nth-child(4), #booking-table thead tr th:nth-child(5) {
  width: 15%;
}
#booking-table thead tr th:last-child {
  width: 7% !important;
  text-align: center;
}

.notification-bar {
  height: 385px;
  overflow: hidden;
}
.notification-bar .table-responsive {
  height: 95%;
}

.notification__item {
  padding: 15px 45px !important;
  position: relative;
  border: 0;
}
.notification__item small {
  display: block;
  color: #9b9b9b;
}
.notification__item--active:before {
  width: 10px;
  height: 10px;
  background: #f2623d !important;
  position: absolute;
  left: 20px;
  top: 10px;
  content: "";
  top: 20px;
  border-radius: 100% !important;
  -moz-border-radius: 100% !important;
}

.padding-reset {
  padding: 0 !important;
}
.padding-reset .block-title {
  width: 100%;
  margin: auto;
}

.status {
  position: relative;
  padding-left: 28px !important;
}
.status--active:before {
  background: #f2623d !important;
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  left: 10px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.table-small-head table thead tr th {
  padding: 5px 10px !important;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
  background: #f9f9f9;
}
.table-small-head .table-striped > tbody > tr:nth-of-type(odd) {
  background: transparent;
}
.table-small-head .table-striped > tbody > tr:nth-of-type(even) {
  background: #f9f9f9;
}
.table-small-head .table-striped > tbody > tr td {
  height: 35px;
}

.payment-information tr td:first-child {
  width: 30%;
  text-align: right;
}
.payment-information__label {
  font-weight: bold;
  display: block;
}
.payment-box__label {
  font-weight: bold;
  text-align: right;
  display: block;
  padding: 5px 0px;
}
.payment-box__total {
  color: #f2623d !important;
  font-weight: 600;
  font-size: 1.6em;
}
.payment-box tr td {
  padding: 10px 0;
}
.payment-box tr td:first-child {
  width: 50%;
}

.text-bold-right__label {
  font-weight: bold;
  text-align: right;
  display: block;
  padding: 5px 0px;
}

.text-bold-left__label {
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 5px 0px;
}

.full-container {
  margin: -20px -20px 20px;
  background: #efefef;
  border: 0;
}

.nav-tabs {
  background: #fff;
}
.nav-tabs li.active a {
  border: 0 !important;
  /* background: #f00 !important; */
  border-radius: 0;
  color: #000;
  font-weight: bold;
}
.nav-tabs li.active a:after {
  content: "";
  width: 100%;
  height: 5px;
  background: #c19d4f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-tabs li a {
  font-weight: 600;
  font-size: 1.1em;
  padding: 20px 30px;
  color: #747474;
  border: 0;
}
.nav-tabs li a:hover:after {
  content: "";
  width: 100%;
  height: 5px;
  background: #c19d4f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav.navbar-nav-custom > li.open > a,
.nav.navbar-nav-custom > li > a:hover,
.nav.navbar-nav-custom > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
a.sidebar-brand:hover,
a.sidebar-brand:focus,
a.sidebar-title:hover,
a.sidebar-title:focus,
#to-top:hover,
.timeline-list .active .timeline-icon,
.table-pricing.table-featured th,
.table-pricing th.table-featured,
.wizard-steps div.done span,
.wizard-steps div.active span,
.switch-primary input:checked + span,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pager > li > a:hover,
.pagination > li > a:hover,
.label-primary,
.chosen-container .chosen-results li.highlighted,
.chosen-container-multi .chosen-choices li.search-choice,
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled],
.bootstrap-timepicker-widget table td a:hover,
div.tagsinput span.tag,
.slider-selection,
.themed-background,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.nav-horizontal a:hover,
.nav-horizontal li.active a {
  background-color: #204560;
}

.text-primary,
.text-primary:hover,
a,
a:hover,
a:focus,
.nav-pills > .active > a > .badge,
.pagination > li > a,
.pagination > li > span,
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link.btn-icon:hover,
.btn-link.btn-icon:focus,
.themed-color {
  color: #ac1b1e;
}

.nav-horizontal i {
  color: #ac1b1e;
}

.content-header {
  margin: 15px 0;
}

.table-responsive tbody tr td {
  vertical-align: top;
}
.table-responsive tbody tr td span {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.custom-radio,
.custom-checkbox {
  list-style: none;
  /* Create a custom checkbox */
}
.custom-radio:after,
.custom-checkbox:after {
  display: block;
  clear: both;
  content: "";
}
.custom-radio--inline-block,
.custom-checkbox--inline-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.custom-radio--inline-block li,
.custom-checkbox--inline-block li {
  display: inline-block;
  margin-right: 10px;
}
.custom-radio__item,
.custom-checkbox__item {
  /* The container */
  width: 33.3333333333%;
  margin: 0 !important;
}
.custom-radio__item--holder,
.custom-checkbox__item--holder {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
}
.custom-radio__item--holder input:checked,
.custom-checkbox__item--holder input:checked {
  /* When the checkbox is checked, add a blue background */
}
.custom-radio__item--holder input:checked ~ .checkmark,
.custom-checkbox__item--holder input:checked ~ .checkmark {
  background-color: #2196F3;
  /* Show the checkmark when checked */
}
.custom-radio__item--holder input:checked ~ .checkmark:after,
.custom-checkbox__item--holder input:checked ~ .checkmark:after {
  display: block;
}
.custom-radio__item--holder:hover input,
.custom-checkbox__item--holder:hover input {
  /* On mouse-over, add a grey background color */
}
.custom-radio__item--holder:hover input ~ .checkmark,
.custom-checkbox__item--holder:hover input ~ .checkmark {
  background-color: #ccc;
}
.custom-radio__item--holder input,
.custom-checkbox__item--holder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-radio__checkmark,
.custom-checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #c8c8c8;
  right: 0;
  margin: auto;
  border-radius: 100%;
  top: -3px;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Style the checkmark/indicator */
}
.custom-radio__checkmark:after,
.custom-checkbox__checkmark:after {
  content: "\F00C";
  position: absolute;
  display: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 1px;
  color: #fff !important;
  font-size: 11px;
}
.custom-radio__checkmark:after,
.custom-checkbox__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.custom-radio__checkmark--boxstyle:after,
.custom-checkbox__checkmark--boxstyle:after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background: #3063cc;
  border-radius: 100%;
  border: 0;
  transform: inherit;
}

.modal .modal-header {
  background: #05677a;
  color: #fff;
  border-radius: 0;
}
.modal .modal-footer .btn-default,
.modal .modal-footer button {
  border-radius: 0 !important;
  padding: 10px 20px;
}
.modal .modal-content form {
  padding: 0 15px !important;
}
.modal .modal-content form input,
.modal .modal-content form select,
.modal .modal-content form textarea {
  border: 1px solid #ddd;
  border-radius: 0;
  display: block !important;
  height: auto;
}

.file-upload-button input {
  padding-top: 0;
}

.file-upload-image-output {
  padding: 50px;
}

.sweet-alert {
  border-radius: 0 !important;
}
.sweet-alert .sa-button-container button {
  background: #204560 !important;
  padding: 8px 70px !important;
  border-radius: 0 !important;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
  border: 4px solid rgba(1, 65, 77, 0.4) !important;
}
.sweet-alert .sa-icon.sa-success .sa-line {
  background: #204560 !important;
}

.sweet-alert.showSweetAlert .sa-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sweet-alert.showSweetAlert .sa-button-container button {
  padding: 8px 50px !important;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 30px;
  width: 135px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  overflow: hidden;
  margin-left: 0;
}
.star-ratings-css-top {
  color: #dbc391;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

#sidebar-scroll {
  background: #204560;
}
#sidebar-scroll .sidebar-user {
  background: rgb(25, 55, 79);
}

header.navbar.navbar-inverse.navbar-fixed-top {
  background: #204560;
}

div#login-container {
  /* background: #f99; */
  max-width: 352px;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  background: transparent;
  position: inherit;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
div#login-container span.input-group-addon {
  background: transparent;
  color: #fff;
}
div#login-container .form-horizontal.form-bordered .form-group {
  border: 0;
  padding: 15px 0;
}
div#login-container .form-group div iframe {
  width: 100% !important;
  /* background: #fff; */
  text-align: center;
}
div#login-container .form-group div iframe div#rc-anchor-container {
  border: 0 !important;
  width: 100%;
}
div#login-container span.input-group-addon {
  position: absolute;
  right: 0;
  top: 8px;
}
div#login-container label.switch.switch-primary {
  /* background: #f99; */
  margin: 12px auto;
  width: 65px;
  text-align: center;
  margin: 15px auto;
  /* float: none; */
  display: block;
}
div#login-container .g-recaptcha {
  text-align: center;
  background: #fff !important;
}
div#login-container .g-recaptcha > div {
  margin: 0 !important;
  width: 100% !important;
}

.login-wrapper {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  display: block;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
}
.login-wrapper .form-group .input-group {
  display: block;
}
.login-wrapper .form-group .input-group .form-control {
  background: transparent;
  border-bottom: 3px solid #ac1b1e !important;
  color: #fff !important;
  border-radius: 0;
}
.login-wrapper button.btn.btn-sm.btn-primary {
  background: #ac1b1e;
  border: 0;
  display: block;
  width: 100%;
  padding: 12px;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.3s ease;
}
.login-wrapper button.btn.btn-sm.btn-primary:hover {
  background: #f2623d !important;
}
.login-wrapper .block {
  background: transparent !important;
}
.login-wrapper .block div {
  background: transparent !important;
}
.login-wrapper #login-container .login-title {
  background: transparent;
  padding: 0;
}
.login-wrapper #login-container .login-title small {
  font-size: 12px;
}
.login-wrapper:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.login-wrapper .copyright a {
  color: #fff;
  font-size: 0.9em;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.login-wrapper .switch-primary span {
  background: #868686;
  border: 0;
}
.login-wrapper .switch-primary input:checked + span {
  background: #ac1b1e;
}
.login-wrapper .has-error .help-block {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 0.9em;
}
.login-wrapper .rc-anchor-normal {
  width: 100% !important;
}
.login-wrapper .rc-anchor-light.rc-anchor-normal {
  width: 100% !important;
  border-radius: 0 !important;
}


.modal .modal-content form input[name="other_emails"] {
  display: none !important;
}

.modal .modal-content form input[name="other_phone_numbers"] {
  display: none !important;
}

.modal .modal-content form input[name="other_emails_payee"] {
  display: none !important;
}

.modal .modal-content form input[name="other_phone_numbers_payee"] {
  display: none !important;
}