$color-navy:#204560;
$color-navy2:#204560;
$color-dark:#373e46;
$color-gray:#9b9b9b;
$color-lightgray:#f9f9f9;
$color-blue:#3063cc;
$color-blue2:#0b476c;
$color-orange:#f2623d !important;
$color-brown:#cca965 !important;
$color-yellowgold:#cdaa66 !important;
$color-white:#fff !important;
$color-violet:#7541e3 !important;
$color-green:#3df198;
$color-red:#ac1b1e;
// select status color 
$color-primary:$color-navy;
$color-secondary:$color-blue;
$color-third:$color-red;
$color-fourth:$color-navy2;